<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @project do |f| %>
      <%= f.input :title, validate: true %>

      <div class="text-xs-right">
        <%= f.button :submit, "Update project", class: "btn btn-primary", data: {'requires-valid-form': true} %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Ticket statuses</h4>
    <%= simple_form_for @project, wrapper: :horizontal_form do |f| %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th>status</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody id="statuses">
        <%= f.simple_fields_for :statuses, @project.statuses.reorder(order: :asc).all do |ts| %>
          <%= render partial: '/projects/tabs/settings/status_fields', locals: {f: ts} %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-xs-right">
            <%= link_to_add_association "Add another", f, :statuses,
              partial: "/projects/tabs/settings/status_fields",
              data: {'association-insertion-node': "tbody#statuses", 'association-insertion-method': "append"},
              class: "btn btn-success" %>
          </td>
        </tr>
      </tfoot>
    </table>

      <div class="text-xs-right">
        <%= f.button :submit, "Update ticket statuses", class: "btn btn-primary", data: {'requires-valid-form': true} %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Access control</h4>
    <%= simple_form_for @project, wrapper: :horizontal_form do |f| %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>email</th>
          <th>role</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody id="members">
        <%= f.simple_fields_for :members, @project.members.all do |m| %>
          <%= render partial: '/projects/tabs/settings/membership_fields', locals: {f: m} %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-xs-right">
            <%= link_to_add_association "Add another", f, :members,
              partial: "/projects/tabs/settings/membership_fields",
              data: {'association-insertion-node': "tbody#members", 'association-insertion-method': "append"},
              class: "btn btn-success" %>
          </td>
        </tr>
      </tfoot>
    </table>

      <div class="text-xs-right">
        <%= f.button :submit, "Update membership", class: "btn btn-primary", data: {'requires-valid-form': true} %>
      </div>
    <% end %>
  </div>
</div>


<p>api keys for 3rd party integration</p>

