<div class="board">
  <table class="table"
    data-board-id="<%= board.id %>"
    data-board-url="<%= project_board_path(board.project, board) %>"
    data-ticket-template="<%= CGI::escapeHTML render(partial: '/projects/tabs/boards/ticket') %>"
    >
    <thead>
      <tr>
      <% board.project.statuses.each do |ts| %>
        <th><%= ts.name %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% board.project.statuses.each do |ts| %>
        <td data-status-id="<%=ts.id%>" class="connectedSortable"></td>
      <% end %>
      </tr>
    </tbody>
  </table>

  <%= simple_form_for [board.project, board], html: {style: "display:none;"} do |f| %>
    <%= f.input :name, validate: true %>

    <div class="text-xs-right">
      <%= link_to "Cancel", "#", class: "btn btn-primary board-cancel-setting", data: {'requires-valid-form': true} %>
      <%= f.button :submit, "Update board", class: "btn btn-primary", data: {'requires-valid-form': true} %>
    </div>
  <% end %>
</div>
