<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class=> 'form-horizontal', :method => :put }) do |f| %>
  <div class="form-inputs">
    <%= f.simple_fields_for :preferences, OpenStruct.new(resource.preferences) do |prefs| %>
      <%= prefs.input :page_size, 
                      :collection => [5,10,15,20].map{|x| [x.to_s,x.to_s]}, 
                      :include_blank => false, 
                      :selected => current_user.preferences.page_size ||=5 %>
      <%= prefs.input :collapse_long_tickets, 
                      :as => :boolean, 
                      :hint => "only show the #{current_user.preferences.page_size} most recent comments", 
                      :value => current_user.preferences.collapse_long_tickets ||= 0 %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Update", :class => "btn"  %>
    <%= hidden_field_tag :current_tab, 'preferences' %>
    <%= link_to 'Cancel', root_path(), :class => 'btn' %>
  </div>
<% end %>
