<% content_for :jumbotron do %>
  <div class="round-and-shaded signup clearfix">
    <center>
      <h2>Create Your Account</h2>
      <p class="muted">Sign in using provider:</p>
      <div class="login-social">
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "zocial #{provider}"  %><br />
          <% end -%>
        <% end -%>
      </div>
      <p class="muted">Create your free account:</p>
    </center>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :full_name, required: true, autofocus: true, input_html: {tabindex: 1} %>
        <%= f.input :email, required: true, input_html: {tabindex: 2} %>
        <%= f.input :password, required: true, input_html: {tabindex: 3} %>
        <%= f.input :password_confirmation, required: true, input_html: {tabindex: 4} %>
      </div>

      <div class="form-actions">
        <%= f.input :terms, label: "I have read and agree with the #{link_to 'Terms of Service',  landing_terms_path(), :target => '_blank'} and #{link_to 'Privacy policy', landing_privacy_path(), :target => '_blank'}.", required: true, input_html: {tabindex: 5}, :wrapper => :inline_checkbox %>
        <%= f.submit "Sign up", :class => "btn btn-primary btn-large", tabindex: 6 %>
      </div>
    <% end %>
  </div>

  <center>
    <%= render "devise/shared/links" %>
  </center>
<% end %>

