<% content_for :jumbotron do %>
  <div class="round-and-shaded signup clearfix">
    <center>
      <h2>Create Your Account</h2>
      <p class="muted">Sign in using social network:</p>      
      <div class="login-social">
        <a href="#" class="btn btn-info"><i class="icon-search"></i> Login with Twitter</a>        
        <a href="#" class="btn btn-info"><i class="icon-search"></i> Login with Facebook</a>                   
      </div>
      <p class="muted">Create your free account:</p>      
    </center>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>


      <div class="form-inputs">
        <%= f.input :full_name, :required => true, :autofocus => true, placeholder: "" %>
        <%= f.input :email, :required => true, :autofocus => true, placeholder: "" %>
        <%= f.input :password, :required => true, placeholder: "" %>
        <%= f.input :password_confirmation, :required => true, placeholder: "" %>
      </div>

      <div class="form-actions">
        <span class="login-checkbox pull-left">
          <input id="terms" name="terms" type="checkbox" class="field pull-left" value="First Choice" tabindex="4" /> 
          <label class="choice" for="terms">&nbsp; I have read and agree with the Terms of Use.</label>
        </span>        
        <%= f.submit "Sign up", :class => "btn btn-primary btn-large" %>
      </div>
    <% end %>

  </div>
<% end %>

