<%
  changeset = {}
  previous = comment.previous

  #get what changed
  [:status_id, :feature_id, :sprint_id, :assignee_id, :cost, :assets].each do |attr|
    now = comment.send(attr)
    if previous
      was = previous.send(attr)
      changeset[attr] = [now] if now != was
    else
      changeset[attr] = [now]
    end
  end
%>

<% if comment.first? %>
<div class="ticket-title">
  <h1 class="pull-right ">#<%= @ticket.scoped_id %></h1>
  <h3><%= @ticket.title %>&nbsp;<small><%= @ticket.parent %></small></h3>
</div>
<% end %>

<div class="comment-container">
  <p class="muted"><%= author(comment) %> <em title="<%= comment.updated_at %>"><%= distance_of_time_in_words_to_now comment.updated_at %> ago</em></p>
  <div><%= comment.html.html_safe %></div>

  <% comment.assets && comment.assets.each do |asset| %>
    <%= link_to asset.name, asset.payload_url, :target => '_blank', :title => number_to_human_size(asset.payload.file.size) %><br />
  <% end %>

  <div class="comment-statusbar">
    <% if can?(:manage, comment) %>
    <div class="pull-right comment-actions">
      <% unless comment.first? %>
          <%= link_to edit_project_ticket_comment_path(@ticket.project, @ticket, comment), :title => 'edit this comment' do %>
            <span><i class='icon-edit'></i>edit</span>
          <% end %>
          &nbsp;
          <%= link_to project_ticket_comment_path(@ticket.project, @ticket, comment), :method => :delete, :data => { :confirm => 'Are you sure you want to remove this comment?' }, :title => 'remove this comment' do %>
            <span><i class='icon-trash'></i>remove</span>
          <% end %>
      <% end %>
    </div>
    <% end %>

    <ul class="inline">
      <% if changeset[:status_id] %>
        <li>
          state: <b><%= comment.status %></b>
        </li>
      <% end %>
      <% if changeset[:feature_id] %>
        <li>
          feature: <b><%= comment.feature || 'none' %></b>
        </li>
      <% end %>
      <% if changeset[:sprint_id] %>
        <li>
          sprint: <b><%= comment.sprint || 'none' %></b>
        </li>
      <% end %>
      <% if changeset[:assignee_id] %>
        <li>
          assignee: <b><%= comment.assignee || 'none' %></b>
        </li>
      <% end %>
      <% if changeset[:cost] %>
        <li>
          cost: <b><%= cost_long(comment.cost) %></b>
        </li>
      <% end %>
      <% if false && changeset.keys.count == 0 %>
        <li>
          no change
        </li>
      <% end %>
    </ul>
  </div>

</div>
