<%
  changeset = change_set(comment)
%>

<div class="comment-container" id="comment-<%= comment.id %>">
  <p class="muted"><%= author(comment) %> <em title="<%= comment.created_at %>"><%= distance_of_time_in_words_to_now comment.created_at %> ago</em>
    <% if comment.created_at != comment.updated_at %>
      <small title="<%= comment.updated_at %>">[last updated <%= distance_of_time_in_words_to_now comment.updated_at %> ago]</small>
    <% end %>
  </p>

  <div class="comment-body"><%= comment.html.html_safe %></div>

  <%= cache(['comment', 'assets', (comment.assets.order("updated_at DESC").first.updated_at.utc.to_s(:nsec) rescue 'none')]) do %>
    <div class="assets">
    <% comment.assets && comment.assets.each do |asset| %>
      <% if !asset.payload_size.zero? %>
        <% if asset.image? %>
          <%=
            image_tag(asset.payload_url(:thumb), class: 'img img-polaroid img-padded', data: {'thumb-url' => asset.payload_url(:thumb), 'original-url' => asset.payload_url})
          %>
        <% else %>
          <%= link_to raw("<br> #{asset.name}"), project_download_asset_path(comment.project, asset), :title => (number_to_human_size(asset.payload_size) rescue 'unknown') %>
        <% end %>
      <% else %>
        <span title="unrecoverable"><%= asset.name %></span>
      <% end %>
    <% end %>
    </div>
  <% end %>

  <div class="comment-statusbar">
    <% if can?(:manage, comment) %>
    <div class="pull-right comment-actions">
      <%= link_to new_project_ticket_path(@ticket.project, :params => {:comment_id => comment}), :title => 'split ticket' do %>
        <span><i class='icon-random'></i>split</span>
      <% end if (current_membership.admin? || current_membership.regular?) && !(@ticket && @ticket.new_record?) && !(@sprint && @sprint.new_record?) %>

      <% unless comment.first? %>
          <%= link_to edit_project_ticket_comment_path(@ticket.project, @ticket, comment), :title => 'edit this comment' do %>
            <span><i class='icon-edit'></i>edit</span>
          <% end %>
          &nbsp;
          <%= link_to project_ticket_comment_path(@ticket.project, @ticket, comment), :remote => true, :method => :delete, :data => { :confirm => 'Are you sure you want to remove this comment?' }, :title => 'remove this comment' do %>
            <span><i class='icon-trash'></i>remove</span>
          <% end %>
      <% end %>
    </div>
    <% end %>

    <%= cache([comment.cache_key, 'status']) do %>
      <ul class="inline">
        <% if changeset[:status_id] %>
          <li>
            state: <b><%= comment.status %></b>
          </li>
        <% end %>
        <% if changeset[:sprint_id] %>
          <li>
            sprint: <b><%= comment.sprint || 'none' %></b>
          </li>
        <% end %>
        <% if changeset[:assignee_id] %>
          <li>
            assigned to:
            <% if comment.assignee
              assigned_to = comment.project.public? ? comment.assignee.obfuscated : comment.assignee
            %>
              <% if comment.assignee.memberships.to_project(comment.project.id).any? %>
                <b><%= assigned_to %></b>
              <% else %>
                <span class='non-member' title='not a member'> <%= assigned_to %></span>
              <% end %>
            <% else %>
              <b>none</b>
            <% end %>
          </li>
        <% end %>
        <% if changeset[:cost] %>
          <li>
            cost: <b><%= cost_long(comment.cost) %></b>
          </li>
        <% end %>
        <% if changeset[:tags_removed] && changeset[:tags_removed].any? %>
          <li>
            removed tags: <b><%= changeset[:tags_removed].join(', ') %></b>
          </li>
        <% end %>
        <% if changeset[:tags_added] && changeset[:tags_added].any? %>
          <li>
            new tags: <b><%= changeset[:tags_added].join(', ') %></b>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
