<%
  changeset = {}
  previous = comment.previous

  #get what changed
  [:status_id, :feature_id, :sprint_id, :assignee_id, :cost, :assets].each do |attr|
    now = comment.send(attr)
    if previous
      was = previous.send(attr)
      changeset[attr] = [now] if now != was
    else
      changeset[attr] = [now]
    end
  end
  changeset[:user] = comment.user.to_s
%>

<div class="well">
  <% if changeset[:user] %>
    <p>updated by <b><%= changeset[:user] %></b></p>
  <% end %>
  <% if changeset[:status_id] %>
    <p>status changed to <b><%= comment.status %></b></p>
  <% end %>
  <% if changeset[:feature_id] %>
    <p>now part of feature: <b><%= comment.feature || 'none' %></b></p>
  <% end %>
  <% if changeset[:sprint_id] %>
    <p>now part of sprint: <b><%= comment.sprint || 'none' %></b></p>
  <% end %>
  <% if changeset[:assignee_id] %>
    <p>assigned to: <b><%= comment.assignee || 'none' %></b></p>
  <% end %>
  <% if changeset[:cost] %>
    <p>cost updated to: <b><%= comment.cost %></b></p>
  <% end %>
  <p><%= comment.html.html_safe %></p>
  <% comment.assets && comment.assets.each do |asset| %>
    <%= link_to asset.name, asset.payload_url, :target => '_blank' %><br />
  <% end %>
</div>
