<%= yield :form_heading %>

<%= simple_form_for([@ticket, @comment], :html => {:class=>'form-horizontal'}) do |f| %>
  <%= render :partial => '/comments/form_fields', :locals => {:comment_form => f} %>

  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= link_to 'cancel', project_feature_path(@ticket.project, @ticket.feature), :class => 'btn' if @ticket.feature && !@ticket.sprint %>
    <%= link_to 'cancel', project_sprint_path(@ticket.project, @ticket.sprint), :class => 'btn' if !@ticket.feature && @ticket.sprint %>
    <%= link_to 'cancel', project_path(@ticket.project), :class => 'btn' if !@ticket.feature && !@ticket.sprint %>
  </div>
<% end %>

<%= render :partial => '/comments/upload_form' %>
