<%= yield :form_heading %>

<%= simple_nested_form_for([@ticket, @comment], :html => {:class=>'form-horizontal', :multipart => true}) do |f| %>
  <div class="row">
    <%= render :partial => '/comments/form_fields', :locals => {:comment_form => f} %>
  </div>

  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <% if @feature %>
      <%= link_to 'cancel', project_feature_path(@ticket.project, @feature), :class => 'btn' %>
    <% elsif @sprint %>
      <%= link_to 'cancel', project_sprint_path(@ticket.project, @sprint), :class => 'btn' %>
    <% elsif !@ticket.new_record? %>
      <%= link_to 'cancel', ticket_path(@ticket), :class => 'btn' %>
    <% else%>
      <%= link_to 'cancel', project_path(@ticket.project), :class => 'btn' %>
    <% end %>

  </div>
<% end %>
