<tr class="nested-fields">
  <td>
    <%= f.input :name, :validate => true, label: false %>
  </td>
  <td>
    <%= f.input :open, as: :radio_buttons, collection: {open: true, closed: false}, :validate => true, label: false %>
  </td>
  <td class="text-xs-right">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :order %>
    <%= link_to_remove_association raw("&times;"), f %>
  </td>
</tr>
