<% content_for :jumbotron do %>
  <div class="jumbotron">
    <h1>Simple pricing with no surprises</h1>
    <p class="lead">Register a free account. No credit card required.</p>
  </div>

  <div class="row-fluid marketing">
    <div class="tab-pane">
      <div class="price-table price-table-three">
        <div class="price-column  price-column-first">
          <%= render partial: '/shared/plan', object: @plans[:small] %>
        </div>
        <div class="price-column price-column-featured">
          <%= render partial: '/shared/plan', object: @plans[:medium] %>
        </div>
        <div class="price-column  price-column-last">
          <%= render partial: '/shared/plan', object: @plans[:large] %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row-fluid marketing">
  <center>
    <h2>Free for Public Projects</h2>
    <p class="lead">Create free <strong>Public Projects</strong> on any plan and we won't charge you a cent! Perfect for companies that champion their own open source projects.</p>
      <%= link_to 'Register a free account', new_registration_path(:user), class: "btn btn-large" %>
  </center>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span12">
    <div class="row">
      <div class="span6">
        <h4>Is my content safe and secure?</h4>
        <p>Absolutely! All your content is backed up hourly, encrypted and stored. Traffic to/from our servers is encrtyped using SSL, the same as banks use.</p>
      </div>
      <div class="span6">
        <h4>How does the free account work?</h4>
        <p>When you sign up for a free account you get access to all of Conductors features. This allows you to explore the product and use it with your team. Free accounts are limited to <%= "#{@plans[:free][:projects]} private project".pluralize(@plans[:free][:projects]) %> and <%= "#{@plans[:free][:users]} user".pluralize(@plans[:free][:users]) %>.</p>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <h4>Can I change my plan at any time?</h4>
        <p>Yes you can, plans can be upgraded or downgraded at any time. Click on the "Billing" link in your dashboard to see your options.</p>
      </div>
      <div class="span6">
        <h4>Can I get a refund?</h4>
        <p>If you decide to cancel your account, you won't be charged again, but you are responsible for whatever charges have already been incurred for the current billing period.</p>
      </div>
    </div>
  </div>
</div>

