<h3><%= @sprint.project.title %></h3>

<p><%= link_to @sprint, project_sprint_url(@sprint.project, @sprint) %> is due on <%= @sprint.due_on.to_s(:long) %></p>

<table>
  <caption>Summary data</caption>
  <thead>
    <tr>
      <th>status</th>
      <th>count</th>
      <th>cost</th>
    </tr>
  </thead>
  <tbody>
    <% total_count = 0 %>
    <% total_cost = 0 %>
    <% @sprint.project.statuses.where(:open => true).each do |ts|%>
      <%
        pool = [@sprint.assigned_tickets.select{|t| t.status == ts}].flatten.compact
        total_count += pool.count
        pool_cost = pool.collect(&:cost).sum
        total_cost += pool_cost
      %>
      <tr>
        <td><%= ts %></td>
        <td><%= pool.count %></td>
        <td><%= cost_long(pool_cost) %></td>
      </tr>
    <% end %>
    <tr class="total">
      <td>Total outstanding</td>
      <td><%= total_count %></td>
      <td><%= cost_long(total_cost) %></td>
    </tr>

    <% total_count = 0 %>
    <% total_cost = 0 %>
    <% @sprint.project.statuses.where(:open => false).each do |ts|%>
      <%
        pool = [@sprint.assigned_tickets.select{|t| t.status == ts}].flatten.compact
        total_count += pool.count
        pool_cost = pool.collect(&:cost).sum
        total_cost += pool_cost
      %>
      <tr>
        <td><%= ts %></td>
        <td><%= pool.count %></td>
        <td><%= cost_long(pool_cost) %></td>
      </tr>
    <% end %>
    <tr class="total">
      <td>Total completed</td>
      <td><%= total_count %></td>
      <td><%= cost_long(total_cost) %></td>
    </tr>
  </tbody>
</table>

<table>
  <caption>Current participants</caption>
  <thead>
    <tr>
      <th>email</th>
      <th>name</th>
      <th>ticket count</th>
      <th>ticket cost</th>
    </tr>
  </thead>
  <tbody>
    <% @sprint.participants.each do |part|%>
      <% tickets = @sprint.assigned_tickets.for_assignee_id(part.id) %>
      <tr>
        <td><%= part.email %></td>
        <td><%= part.full_name %></td>
        <td><%= tickets.count %></td>
        <td><%= cost_long(tickets.collect(&:cost).sum) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
