<h3><%= @comment.project.title %></h3>

<p><%= author(@comment) %> has updated <%= link_to @comment.ticket, project_ticket_url(@comment.project, @comment.ticket) %></p>

<%
  changeset = change_set(@comment)
%>
<% if changeset.keys.any? %>
<table>
  <caption>Changes</caption>
  <tbody>
  <% if changeset[:status_id] %>
    <tr>
      <th>status</th>
      <td><%= @comment.status %></td>
    </tr>
  <% end %>
  <% if changeset[:sprint_id] %>
    <tr>
      <th>sprint</th>
      <td><%= @comment.sprint || 'none' %></td>
    </tr>
  <% end %>
  <% if changeset[:assignee_id] %>
    <tr>
      <th>assigned to</th>
      <td><%= @comment.assignee || 'none' %></td>
    </tr>
  <% end %>
  <% if changeset[:cost] %>
    <tr>
      <th>cost</th>
      <td><%= cost_long(@comment.cost) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<div><%= @comment.html.html_safe %></div>


