<% if  !(['edit', 'update'].include?(action_name) && controller_name == 'projects') %>
  <div>
    <ul class="nav nav-stacked">
      <% if @project && @project.logo.present? %>
        <li class="text-center">
          <%= image_tag(@project.logo_url(:thumb), :class => 'img-padded') %>
        </li>
      <% end %>
      <%= action_add(current_user.projects.new()) if !(@project || @overview) %>
      <%= action_add(current_user.overviews.new()) if !(@project || @overview) %>

      <% if @project %>
        <%= action_back_to(@project) if (@feature || @sprint || @ticket) %>
        <%= action_back_to(@feature) if @ticket %>
        <%= action_back_to(@sprint) if @ticket %>

        <%= action_edit(@project) if @project && !(@feature || @sprint || @ticket) %>
        <%= action_edit(@feature) if @feature && !@ticket %>
        <%= action_edit(@sprint)  if @sprint  && !@ticket %>
        <%= action_edit(@ticket)  if @ticket %>

        <%= action_remove(@feature) if @feature && !@ticket %>
        <%= action_remove(@sprint)  if @sprint && !@ticket%>
        <%= action_remove(@asset)   if @asset %>
        <%= action_remove(@ticket)  if @ticket %>

        <% if !@project.new_record? && current_membership  %>
          <%= action_add(@project.features.new()) if current_membership.admin? && @project && !(@sprint || @ticket|| (@feature && @feature.new_record?)) %>
          <%= action_add(@project.sprints.new())  if current_membership.admin? && @project && !(@feature || @ticket || (@sprint && @sprint.new_record?)) %>
          <%= action_add(@project.assets.new())  if current_membership.admin? && @project && !((@feature && @feature.new_record?) || (@ticket && @ticket.new_record?) || (@sprint && @sprint.new_record?)) %>
          <%= action_add(@project.tickets.new())  if (current_membership.admin? || current_membership.regular?) && !(@ticket && @ticket.new_record?) && !(@sprint && @sprint.new_record?) && !(@feature && @feature.new_record?) %>
        <% end %>
      <% end %>

      <% if @overview %>
        <% if !@overview.new_record? %>
          <%= action_edit(@overview) %>
          <%= action_remove(@overview) %>
          <%= action_add(current_user.overviews.new()) %>
        <% end %>
      <% end %>

      <% if @account %>
      <li>
        <%= link_to cancel_user_account_path(current_user) do %>
          <span class="navico"><i class="icon-trash"></i></span>
          remove this account
        <% end %>
      </li>
      <% end %>

    </ul>
  </div>
<% else %>
  <%= render :partial => '/projects/actions' %>
<% end %>

<div class="clearfix assets">
  <% [@ticket, @sprint, @feature, @project].reject{|s| s.nil? || !s.assets.any?}.each do |scope| %>
    <%
      assets = scope.assets
      assets = assets.unassigned if 'Project' == scope.class.name
      next unless assets.any?
    %>
    <h3><small><%= scope.class.name %> assets</small></h3>
    <% assets.reject{|a| a.payload.file.nil?}.each do |asset| %>
      <div class="overflow">
        <% if !asset.payload_size.zero?  %>
          <%= link_to asset.name, project_download_asset_path(@project, asset), :title => (number_to_human_size(asset.payload_size) rescue 'unknown') %>
        <% else %>
          <span title="unrecoverable"><%= asset.name %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>
