<% if  !(['edit', 'update'].include?(action_name) && controller_name == 'projects') %>
  <div>
    <ul class="nav nav-stacked">
      <% if @project && @project.logo.present? %>
        <li class="text-center">
          <%= image_tag(@project.logo_url(:thumb), :class => 'img-padded') %>
        </li>
      <% end %>
      <%= action_add(current_user.projects.new()) if !(@project || @overview) %>
      <%= action_add(current_user.overviews.new()) if !(@project || @overview) %>

      <% if @project %>
        <%= action_back_to(@project) if (@feature || @sprint || @ticket) %>
        <%= action_back_to(@feature) if @ticket %>
        <%= action_back_to(@sprint) if @ticket %>

        <%= action_edit(@project) if @project && !(@feature || @sprint || @ticket) %>
        <%= action_edit(@feature) if @feature && !@ticket %>
        <%= action_edit(@sprint)  if @sprint  && !@ticket %>
        <%= action_edit(@ticket)  if @ticket %>

        <%= action_remove(@feature) if @feature && !@ticket %>
        <%= action_remove(@sprint)  if @sprint && !@ticket%>
        <%= action_remove(@asset)   if @asset %>
        <%= action_remove(@ticket)  if @ticket %>

        <% if !@project.new_record? && current_membership  %>
          <%= action_add(@project.features.new()) if current_membership.admin? && @project && !(@sprint || @ticket|| (@feature && @feature.new_record?)) %>
          <%= action_add(@project.sprints.new())  if current_membership.admin? && @project && !(@feature || @ticket || (@sprint && @sprint.new_record?)) %>
          <%= action_add(@project.tickets.new())  if (current_membership.admin? || current_membership.regular?) && !(@ticket && @ticket.new_record?) && !(@sprint && @sprint.new_record?) && !(@feature && @feature.new_record?) %>
          <%= action_add(@project.assets.new())  if current_membership.admin? && @project && !((@feature && @feature.new_record?) || (@ticket && @ticket.new_record?) || (@sprint && @sprint.new_record?)) %>
        <% end %>
      <% end %>

      <% if @overview %>
        <% if !@overview.new_record? %>
          <%= action_edit(@overview) %>
          <%= action_remove(@overview) %>
          <%= action_add(current_user.overviews.new()) %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= render :partial => '/projects/actions' %>
<% end %>

<div class="clearfix">
  <h3><small>Assets</small></h3>
  <%
    assets = @sprint.assets if @sprint
    assets ||= @feature.assets if @feature
    assets ||= @ticket.assets if @ticket
    assets ||= @project.assets.general
  %>
  <% assets.each do |asset| %>
    <%= link_to asset, project_download_asset_path(asset.project, asset), :title => (number_to_human_size(asset.payload.file.size) rescue 'unknown') %>
  <% end %>

</div>
