<ul>
  <li><%= link_to "home", welcome_home_path() %></li>
  <li><%= link_to "tour", welcome_tour_path() %></li>
  <li><%= link_to "pricing", welcome_pricing_path() %></li>
  <li><%= link_to "support", welcome_support_path() %></li>
  <li><%= link_to "privacy", welcome_privacy_path() %></li>
  <li><%= link_to "terms_and_conditions", welcome_terms_and_conditions_path() %></li>
</ul>
