<%= simple_form_for [@user] do |f| %>
  <%= f.input :project_tab, collection: [:boards, :tickets, :documents], include_blank: false, hint: "Set which tab is active up when you first view a project." %>
  <%= f.input :ticket_order, as: :radio_buttons, collection: {ascending: true, descending: false}, hint: "Control how tickets are ordered." %>
  <%= f.input :page_size, collection: [10,25,50], include_blank: "unlimited", hint: "Control how many items are shown in list." %>

  <div id="user-integrations">
    <%= f.simple_fields_for :integrations, @user.integrations.all do |i_f| %>
      <%= render partial: '/users/tabs/settings/integration_fields', locals: {f: i_f} %>
    <% end %>
  </div>

  <%= link_to_add_association "Add integration", f, :integrations,
    partial: "/users/tabs/settings/integration_fields",
    data: {'association-insertion-node': "div#user-integrations", 'association-insertion-method': "append"},
    class: "btn btn-success" %>

  <h4>3rd party integrations</h4>
  <ul>
    <li>github</li>
    <li>bitbucket</li>
    <li>chrome plugin</li>
  </ul>
  <div class="text-xs-right">
    <%= link_to "Cancel", "#", class: "btn btn-primary board-cancel-setting", data: {'requires-valid-form': true} %>
    <%= f.button :submit, "Save", class: "btn btn-primary", data: {'requires-valid-form': true} %>
  </div>
<% end %>
