<ul class="nav nav-stacked">
  <% if action_name != 'index' %>
    <li>
      <%= link_to project_path(@sprint.project) do %>
      <span class="navico"><i class="icon-arrow-left navico"></i></span>back to project
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'show' %>
    <li>
      <%= link_to edit_project_sprint_path(@sprint.project,@sprint) do %>
      <span class="navico"><i class="icon-edit navico"></i></span>edit this sprint
      <% end %>
    </li>
    <li>
      <%= link_to project_sprint_path(@sprint.project,@sprint), :method => :delete, :data => {:confirm => "Are you sure you want to delete this sprint?"} do %>
      <span class="navico"><i class="icon-trash navico"></i></span>remove this sprint
      <% end %>
    </li>
    <li>
      <%= link_to new_ticket_path(:project_id => @project, :sprint_id => @sprint) do %>
      <span class="navico"><i class="icon-plus navico"></i></span>add a new ticket
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'index' %>
    <li>
      <%= link_to new_project_sprint_path(@sprint.project) do %>
      <span class="navico"><i class="icon-plus navico"></i></span>add a new sprint
      <% end %>
    </li>
  <% end %>
</ul>

