<%= yield :form_heading %>

<%= simple_form_for([@sprint.project,@sprint], :html => {:class=>'form-horizontal'}) do |f| %>
  <%= f.input :title, :input_html => {:class => 'span6'} %>
  <%= f.input :due_on, :as=> :string, :input_html => {:class => 'span6 datepicker'}%>
  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= link_to 'cancel', project_sprint_path(@project, @sprint), :class => 'btn' unless @sprint.new_record? %>
    <%= link_to 'cancel', project_path(@project), :class => 'btn' if @sprint.new_record? %>
  </div>
<% end %>
