<table class="table table-bordered table-striped" id="sprint-list">
  <caption>
    <div class="pull-right">
        Show Closed Sprints &nbsp;<%= check_box_tag :show_closed_sprints, true %>
    </div>
    <h4>Sprints</h4>
  </caption>
  <thead>
  <tr>
    <th class="width-5">#</th>
    <th>Goal</th>
    <th class="width-15">Due Date</th>
    <th class="width-25">Progress</th>
    <th class="width-50px">Tickets</th>
  </tr>
  </thead>
  <tbody>
  <% sprints.each do |sprint| %>
    <tr data-state="<%= sprint.open? && 'open' || 'closed' %>">
      <td title="sprint number"><%= sprint.scoped_id %></td>
      <td class="overflow" title="<%= sprint.goal %>">
        <%= link_to sprint.goal, project_sprint_path(sprint.project, sprint) %>
      </td>
      <td title="due date"><%= sprint.due_on.to_s(:long) %></td>
      <td>
        <div class="progress-count">
          <%= completion_str(sprint) %>
        </div>
        <div class="progress"  title="<%= completion_message(sprint) %>">
          <div class="bar bar-<%= completion_state(sprint) %> " style="width: <%= sprint.progess_count %>%;" ></div>
        </div>
      </td>
      <td  class="count" title="tickets in this sprint"><span class="badge badge-important"><%= sprint.ticket_count %></span></td>
    </tr>
  <% end %>
  <% if sprints.count == 0 %>
  <tr>
    <td colspan="5">There are no sprints</td>
  </tr>
  <% end %>
  </tbody>
</table>





