<table class="table table-bordered table-striped">
  <button id="show-closed" class="btn pull-right">
    Show Closed Sprints
  </button>
  <br/>
  <br/>
  <% sprints.each do |sprint| %>
    <% status = Array.new %>
    <% sprint.tickets.each do |ticket| %>
      <% status << ticket.status.open %> 
    <% end %>
    <% if (sprint.due_on < Date.today && (!status.include?(true))) %>
      <tr id="closed-sprints" style="display: none">
        <td>
          <%= link_to sprint.goal, project_sprint_path(sprint.project, sprint) %>
          <div class="pull-right">
          <span class="label label-ticket">Closed</span>
          </div>
        </td>
        <td title="due date"><%= sprint.due_on.to_s(:long) %></td>
        <td class="count" title="tickets in this sprint"><%= sprint.assigned_tickets.count %></td>
      </tr>
    <% else %>
      <tr>
        <td><%= link_to sprint.goal, project_sprint_path(sprint.project, sprint) %></td>
        <td title="due date"><%= sprint.due_on.to_s(:long) %></td>
        <td class="count" title="tickets in this sprint"><%= sprint.assigned_tickets.count %></td>
      </tr>      
    <% end %>
  <% end %>
  <% if sprints.count == 0 %>
  <tr>
    <td>There are no sprints</td>
  </tr>
  <% end %>
</table>




 
