<table class="table table-bordered table-striped" id="sprint-list">
  <caption>
    <div class="pull-right">
        Show Closed Sprints &nbsp;<%= check_box_tag :show_closed_sprints, true %>
    </div>
    <h2>Sprints</h2>
  </caption>
  <tr>
    <th class="span1">#</th>
    <th>Goal</th>
    <th>Due Date</th>
    <th class="span2">Progress</th>
    <th class="span1">Tickets</th>
  </tr>
  <% sprints.each do |sprint| %>
    <tr data-state="<%= sprint.open? && 'open' || 'closed' %>">
      <td title="sprint number"><%= sprint.id %></td>
      <td>
        <%= link_to sprint.goal, project_sprint_path(sprint.project, sprint) %>
        <% if (sprint.closed?) %>
          <span class="label label-ticket pull-right">Closed</span>
        <% end %>
      </td>
      <td title="due date"><%= sprint.due_on.to_s(:long) %></td>
      <td>
        <div class="progress">
          <div class="bar bar-<%= completion_state(sprint) %> " style="width: <%= completion_percentage(sprint) %>%;" title="<%= completion_message(sprint) %>"></div>
        </div>
      </td>
      <td class="span1 count" title="tickets in this sprint"><span class="badge badge-important"><%= sprint.assigned_tickets.count %></span></td>
    </tr>
  <% end %>
  <% if sprints.count == 0 %>
  <tr>
    <td colspan="4">There are no sprints</td>
  </tr>
  <% end %>
</table>





