<ul class="nav nav-stacked">
  <% if action_name != 'index' %>
    <li>
      <%= link_to project_path(@ticket.project) do %>
        <span class="navico"><i class="icon-arrow-left navico"></i></span>back to project
      <% end %>
    </li>
    <% if @feature %>
    <li>
      <%= link_to project_feature_path(@ticket.project, @feature) do %>
      <span class="navico"><i class="icon-arrow-left navico"></i></span>back to feature
      <% end %>
    </li>
    <% end %>
    <% if @sprint %>
    <li>
      <%= link_to project_sprint_path(@ticket.project, @sprint) do %>
      <span class="navico"><i class="icon-arrow-left navico"></i></span>back to sprint
      <% end %>
    </li>
    <% end %>
  <% end %>
  <% if action_name == 'show' %>
    <% if can?(:manage, @ticket.comments.first) %>
    <li>
      <%= link_to edit_ticket_path(@ticket) do %>
      <span class="navico"><i class="icon-edit navico"></i></span>edit this ticket
      <% end %>
    </li>
    <li>
      <%= link_to ticket_path(@ticket), :method => :delete, :data => {:confirm => "Are you sure you want to remove this ticket?"} do %>
      <span class="navico"><i class="icon-trash navico"></i></span>remove this ticket
      <% end %>
    </li>
    <% end %>
  <% end %>
  <% if action_name != 'new' && action_name != 'index' %>
    <li>
      <%= link_to new_ticket_path(:project_id => @ticket.project, :sprint_id => @ticket.sprint_id, :feature_id => @ticket.feature_id) do %>
      <span class="navico"><i class="icon-plus navico"></i></span>add a new ticket
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'index' %>
    <li>
      <%= link_to new_project_path() do %>
      <span class="navico"><i class="icon-plus navico"></i></span>add a new project
      <% end %>
    </li>
  <% end %>
</ul>

