<ul class="nav nav-pills nav-stacked">
  <% if action_name != 'index' %>
    <li>
      <%= link_to 'back to project', project_path(@ticket.project) %>
      <% if @ticket.sprint %>
        <%= link_to 'back to sprint', project_sprint_path(@ticket.project, @ticket.sprint) %>
      <% end %>
      <% if @ticket.feature %>
        <%= link_to "back to feature", project_feature_path(@ticket.project, @ticket.feature) %>
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'show' %>
    <li>
      <%= link_to 'edit this ticket', edit_ticket_path(@ticket) %>
    </li>
    <li>
      <%= link_to 'remove this ticket', ticket_path(@ticket), :method => :delete, :data => {:confirm => "Are you sure you want to remove this ticket?"} %>
    </li>
  <% end %>
  <% if action_name != 'new' && action_name != 'index' %>
    <li>
      <%= link_to 'add a new ticket', new_ticket_path(:project_id => @ticket.project) %>
    </li>
  <% end %>

</ul>

