<ul class="nav nav-pills nav-stacked">
  <% if action_name != 'index' %>
    <li>
      <% if @ticket.feature %>
        <%= link_to "back to feature", ticket_parent_path(@ticket) %>
      <% else %>
        <%= link_to 'back to project', ticket_parent_path(@ticket) %>
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'show' %>
    <li>
      <%= link_to 'edit this ticket', ticket_edit_path(@ticket) %>
    </li>
    <li>
      <%= link_to 'remove this ticket', ticket_show_path(@ticket), :method => :delete, :confirm => "Are you sure you want to remove this ticket?" %>
    </li>
  <% end %>
  <% if action_name != 'new' %>
    <li>
      <%= link_to 'add a new ticket', ticket_new_path(@ticket) %>
    </li>
  <% end %>
</ul>

