<%
  comment ||= false
%>
<% if comment %>
  <%
    @ticket.body = ''
  %>
<% else %>
  <%= yield :form_heading %>
<% end %>

<%= simple_form_for(@ticket, :html => {:class=>'form-horizontal'}) do |f| %>
  <%= f.input :title, :input_html => {:class => 'span12'} unless comment%>
  <%= f.input :body, :input_html => {:class => 'span12', :rows => 10}%>
  <%= f.input :status do %>
    <%= f.select :status_id, @ticket.project.ticket_statuses.all.map { |s| [s.name, s.id] }, :include_blank => false %>
  <% end %>

  <%= f.input :feature do %>
    <%= f.select :feature_id, @ticket.project.features.all.map { |f| [f.title, f.id] }, :include_blank => '- unassigned -'  %>
  <% end %>
  <%= f.input :sprint do %>
    <%= f.select :sprint_id, @ticket.project.sprints.all.map { |s| [s.title, s.id] }, :include_blank => '- unassigned -'  %>
  <% end %>
  <%= f.input :user do %>
    <%= f.select :user_id, @ticket.project.users.all.map { |s| [s.email, s.id] }, :include_blank => '- unassigned -'  %>
  <% end %>

  <%= f.input :project_id, :as => :hidden %>
  <%= f.input :feature_id, :as => :hidden %>
  <%= f.input :sprint_id, :as => :hidden %>
  <%= f.input :user_id, :as => :hidden %>

  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= link_to 'cancel', project_feature_path(@ticket.project, @ticket.feature), :class => 'btn' if @ticket.belongs_to_feature? && !@ticket.belongs_to_sprint? %>
    <%= link_to 'cancel', project_sprint_path(@ticket.project, @ticket.sprint), :class => 'btn' if !@ticket.belongs_to_feature? && @ticket.belongs_to_sprint? %>
    <%= link_to 'cancel', project_path(@ticket.project), :class => 'btn' if !@ticket.belongs_to_feature? && !@ticket.belongs_to_sprint? %>
  </div>
<% end %>
