<%= simple_form_for(@ticket, :html => {:class=>'form-horizontal'}) do |f| %>
  <%= f.input :title, :input_html => {:class => 'span12'} %>
  <%= f.input :body, :input_html => {:class => 'span12', :rows => 10}%>
  <%= f.input :status do %>
    <%= f.select :status_id, @project.ticket_statuses.all.map { |s| [s.name, s.id] }, :include_blank => false %>
  <% end %>

  <%= hidden_field_tag :ticketable_type, @ticket.ticketable_type %>
  <%= hidden_field_tag :ticketable_id, @ticket.ticketable_id %>
  <div class="form-actions">
    <%= f.submit :class=>'pull-right' %>
  </div>
<% end %>
