<%= yield :form_heading %>

<%= simple_nested_form_for(@ticket, :html => {:class=>'form-horizontal', :multipart => true}) do |f| %>
  <%= f.input :title, :input_html => {:class => 'span6'}%>
  <%= f.simple_fields_for :comments, @comment do |c_f| %>
    <%= render :partial => '/comments/form_fields', :locals => {:comment_form => c_f} %>
  <% end %>

  <%= f.input :project_id, :as => :hidden %>

  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= link_to 'cancel', project_feature_path(@ticket.project, @ticket.feature), :class => 'btn' if @ticket.feature && !@ticket.sprint %>
    <%= link_to 'cancel', project_sprint_path(@ticket.project, @ticket.sprint), :class => 'btn' if !@ticket.feature && @ticket.sprint %>
    <%= link_to 'cancel', project_path(@ticket.project), :class => 'btn' if !@ticket.feature && !@ticket.sprint %>
  </div>
<% end %>
