<%
  project ||= @project
  project_id ||= project && project.id
  sprint_id ||= @sprint && @sprint.id
  feature_id ||= @feature && @feature.id
  assignee_id ||= @assignee_id

  parent = "sprint-#{sprint_id}" if sprint_id
  parent ||= "feature-#{feature_id}" if feature_id
  parent ||= "project-#{project_id}" if project_id
 %>

 <div id="tickets-list-container-<%= parent %>">
  <table class="table table-bordered table-striped" id="ticket-list">
    <caption>
      <div class="pull-right">
        <% if @search %>
          <%= simple_form_for @search,
                :url => project_tickets_path(project),
                :html => {:method => :get, :class => 'form-search'}, :remote => true do |f| %>
            <%= f.input_field :title_or_assignee_email_or_sprint_goal_or_feature_title_or_status_name_contains, :label => false, :placeholder => 'search' %>
            <%= f.hidden_field :sprint_id, :value => sprint_id %>
            <%= f.hidden_field :feature_id, :value => feature_id %>
            <%= f.hidden_field :project_id, :value => project_id %>
            <%= f.hidden_field :assignee_id, :value => assignee_id %>
            <%= f.submit 'Search' %>
          <% end %>
        <% end %>
      </div>
      <h2>Tickets</h2>
    </caption>
    <!--title row -->
    <thead>
    <tr>
      <th class="width-5">#</th>
      <th>Title</th>
      <th class="width-15">Feature</th>
      <th class="width-15">Sprint</th>
      <th class="width-15">Assignee</th>
      <th class="width-10">State</th>
      <th class="width-50px">Cost</th>
    </tr>
    </thead>
    <tbody>
    <% @tickets.each do |ticket| %>
    <tr data-state="<%= ticket.status %>" data-search="<%= ticket.filter_summary %>">
      <td><%= ticket.scoped_id %></td>
      <td><%= link_to ticket.title, project_ticket_path(ticket.project, ticket, :feature_id => ticket.feature_id, :sprint_id => ticket.sprint_id) %></td>
      <td>
        <div class="overflow">
          <%= ticket.feature %>
        </div>
      </td>
      <td>
        <div class="overflow">
          <%= ticket.sprint %>
        </div>
      </td>
      <td>
        <div class="overflow">
          <%= ticket.assignee %>
        </div>
      </td>
      <td>
        <div class="overflow">
          <%= ticket.status %>
        </div>
      </td>
      <td class="count" title="cost of this ticket"><span class="badge badge-warning"><%= cost_short(ticket.cost) %></span></td>
    </tr>
    <% end if @tickets %>
    <% if @tickets && @tickets.count == 0 %>
      <tr>
        <td colspan="7">There are no tickets</td>
      </tr>
    <% end %>
    <% unless @tickets %>
      <tr>
        <td colspan="7"><%= link_to 'loading tickets...',
          project_tickets_path(project, :sprint_id => sprint_id, :feature_id => feature_id, :assignee_id => assignee_id),
          :remote => true, :class => "autoload" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @tickets,
        :params => {
          :controller => 'tickets',
          :action => 'index',
          :id => nil,
          :project_id => project_id,
          :sprint_id => sprint_id,
          :feature_id => feature_id,
          :assignee_id => assignee_id
        },
        :remote => true if @tickets %>

</div>
