<%
  tickets ||= @tickets
%>
<table class="table table-bordered table-striped">
  <% tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.id %></td>
    <td><%= link_to ticket.title, ticket_path(ticket, :project_id => ticket.project_id, :feature_id => ticket.feature_id, :sprint_id => ticket.sprint_id) %></td>
    <td title="sprint"><%= ticket.sprint || '' %></td>
    <td title="feature"><%= ticket.feature || '' %></td>
    <td title="status"><%= ticket.status %></td>
    <td title="cost"><%= ticket.cost %></td>
  </tr>
  <% end %>
  <% if tickets.count == 0 %>
  <tr>
    <td>There are no tickets</td>
  </tr>
  <% end %>
</table>
