<%
  tickets ||= @tickets
%>

<% state = Array.new %>
<% tickets.each do |ticket| %>
  <% state << ticket.status if !state.include? ticket.status %>
<% end %>


<table class="table table-bordered table-striped" id="ticket-list">
  <caption>
    <div class="pull-right input-append">
      <div class="btn-group">
        <input id="search_input" type="text" class="span8" placeholder="Filter">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          State
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="state-picker">
          <% state.each do |st| %>
          <li><%= st %></li>
          <% end %>
          <li>All</li>
        </ul>
      </div>
    </div>
  </caption>
  <!--title row -->
  <tr>
    <th>Ticket #</th>
    <th>Ticket title</th>
    <th>Ticket state</th>
    <th>Ticket cost</th>
  </tr>
  <% tickets.each do |ticket| %>
  <tr data-state="<%= ticket.status %>" data-search="<%= ticket.filter_summary %>">
    <td class="span1"><%= ticket.id %></td>
    <td><%= link_to ticket.title, ticket_path(ticket, :project_id => ticket.project_id, :feature_id => ticket.feature_id, :sprint_id => ticket.sprint_id) %></td>
    <td class="ticket-info">
      <div class="pull-right">
        <span class="label label-ticket <%= ticket.sprint && 'label-sprint' || 'label-missing'%>"><%= ticket.sprint %></span>
        <span class="label label-ticket <%= ticket.feature && 'label-feature' || 'label-missing'%>"><%= ticket.feature %></span>
        <span class="label label-ticket <%= ticket.status && 'label-status' || 'label-missing'%>"><%= ticket.status %></span>
      </div>
    </td>
    <td class="count" title="cost of this ticket"><span class="badge badge-warning"><%= ticket.cost %></span></td>
  </tr>
  <% end %>
  <% if tickets.count == 0 %>
    <tr>
      <td>There are no tickets</td>
    </tr>
  <% end %>
</table>
