<%
  @project ||= project
  project_id ||= @project && @project.id
  sprint_id ||= @sprint && @sprint.id
  feature_id ||= @feature && @feature.id
  assignee_id ||= @assignee_id

  parent = "sprint-#{sprint_id}" if sprint_id
  parent ||= "feature-#{feature_id}" if feature_id
  parent ||= "project-#{project_id}" if project_id
 %>
<div id="tickets-list-container-<%= parent %>">
  <table class="table table-bordered table-striped" id="ticket-list">
    <caption>
      <div>
        <h2>Tickets</h2>
        <% if @search %>
          <%= simple_form_for @search, :url => tickets_path, :html => {:method => :get, :class => 'form-search'} do |f| %>
            <%= f.input_field :title_contains, :label => false, :placeholder => 'search by title' %>
            <%= f.submit 'Search' %>

            <%= link_to '#', {:id => 'advanced_search'} do %>
              <small>advanced search</small>
            <% end %>
            <div class="search_fields" style="display:none;" data-href="<%= tickets_path()%>">
              <%= f.input_field :last_comment_status_id_in, :collection => @project.ticket_statuses.collect{|ts| [ts.name, ts.id]} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </caption>
    <!--title row -->
    <tr>
      <th class="span1">#</th>
      <th>Title</th>
      <th>Assignee</th>
      <th>State</th>
      <th class="span1">Cost</th>
    </tr>
    <% @tickets.each do |ticket| %>
    <tr data-state="<%= ticket.status %>" data-search="<%= ticket.filter_summary %>" style="<%=ticket.closed? ? 'display:none;': ''%>">
      <td class="span1"><%= ticket.id %></td>
      <td><%= link_to ticket.title, ticket_path(ticket, :project_id => ticket.project_id, :feature_id => ticket.feature_id, :sprint_id => ticket.sprint_id) %></td>
      <td><%= ticket.assignee %></td>
      <td class="ticket-info">
        <div class="pull-right">
          <span class="label label-ticket <%= ticket.sprint && 'label-sprint' || 'label-missing'%>"><%= ticket.sprint %></span>
          <span class="label label-ticket <%= ticket.feature && 'label-feature' || 'label-missing'%>"><%= ticket.feature %></span>
          <span class="label label-ticket <%= ticket.status && 'label-status' || 'label-missing'%>"><%= ticket.status %></span>
        </div>
      </td>
      <td class="span1 count" title="cost of this ticket"><span class="badge badge-warning"><%= cost_short(ticket.cost) %></span></td>
    </tr>
    <% end if @tickets %>
    <% if @tickets.nil? || @tickets.count == 0 %>
      <tr>
        <td colspan="4">There are no tickets</td>
      </tr>
    <% end %>
    <% unless @tickets %>
      <tr>
        <td colspan="4"><%= link_to 'loading tickets...',
          tickets_path(:project_id => project_id, :sprint_id => sprint_id, :feature_id => feature_id, :assignee_id => assignee_id),
          :remote => true, :class => "autoload" %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @tickets,
        :params => {
          :controller => 'tickets',
          :action => 'index',
          :id => nil,
          :project_id => project_id,
          :sprint_id => sprint_id,
          :feature_id => feature_id,
          :assignee_id => assignee_id
        },
        :remote => true if @tickets %>

</div>
