<%
  changeset = {}
  if version.is_a?(Ticket)
    ticket = version
    #if there is a version, inspect it
    if ticket.versions.count > 0
      last = ticket.versions.last.reify
      [:status_id, :feature_id, :sprint_id, :user_id, :cost].each do |value|
        now = ticket.send(value)
        was = last.send(value)
        changeset[value] = [now, was] if now != was
      end
      changeset[:whodunnit] = User.find(ticket.versions.last.whodunnit).to_s
    end
  else
    ticket = version.reify
    changeset = version.previous.changeset if version.previous
    changeset[:whodunnit] = User.find(version.whodunnit).to_s
  end
%>
<div class="well">
  <% if changeset[:whodunnit] %>
    <p>updated by <b><%= changeset[:whodunnit] %></b></p>
  <% end %>
  <% if changeset[:status_id] %>
    <p>status changed to <b><%= ticket.status %></b></p>
  <% end %>
  <% if changeset[:feature_id] %>
    <p>now part of feature: <b><%= ticket.feature || 'none' %></b></p>
  <% end %>
  <% if changeset[:sprint_id] %>
    <p>now part of sprint: <b><%= ticket.sprint || 'none' %></b></p>
  <% end %>
  <% if changeset[:user_id] %>
    <p>assigned to: <b><%= ticket.user || 'none' %></b></p>
  <% end %>
  <% if changeset[:cost] %>
    <p>cost updated to: <b><%= ticket.cost %></b></p>
  <% end %>
  <p><%= ticket.body %></p>
</div>