<%= simple_form_for [@ticket.project, @ticket], wrapper: :horizontal_form do |f| %>
  <%= f.simple_fields_for :comments, f.object.comments.build() do |cf| %>
    <h4 class="text-xs-right">
      <span class="number pull-xs-left"># <%= @ticket.id %></span>
      <%= @ticket.name %>
    </h4>
    <p>ticket summary: name, number, statusbar</p>
    <p>these fields should be sitting in the ticket status bar or the like, they are not realy part of making a comment</p>
    <%= cf.association :assignee, collection: @ticket.project.members.map{|m| m.user}, include_blank: "unassigned" %>
    <%= cf.association :board, collection: @ticket.project.boards, include_blank: "not on any board" %>
    <%= cf.input :cost, collection: Comment::COSTS, include_blank: false %>

    <%= render partial: "comment", collection: @ticket.comments %>
    <p>new comment form</p>

    <p>
      comments should be presented in a timeline from top to bottom.
      Each commenter should have their avatar next to their comment.
      System comments (github / with no content text) should display in a different color
    </p>
    <div class="col-sm-6">
      <%= cf.input :content %>
    </div>
    <div class="col-sm-6">
      <%= cf.file_field :files, :multiple => true, validate: true %>
    </div>

  <% end %>
  <div class="text-xs-right">
    <%= f.button :submit, "Add comment", class: "btn btn-primary", data: {'requires-valid-form': true} %>
  </div>
<% end %>