<%= simple_form_for [@ticket.project, @ticket], wrapper: :horizontal_form do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :name, :placeholder => "ticket name..." %>
    </div>
  </div>
  
  <%= f.simple_fields_for :comments, f.object.comments.build() do |cf| %>
  <div class="row">
    <div class="col-sm-6">
      <%= cf.association :assignee, collection: @ticket.project.members.map{|m| m.user}, include_blank: "unassigned" %>
      <%= cf.association :board, collection: @ticket.project.boards, include_blank: "not on any board" %>
      <%= cf.input :cost, collection: Comment::COSTS, include_blank: false, label: "Complexity" %>
      <%= cf.input :content %>
      <%= cf.file_field :files, :multiple => true, validate: true %>
      <div class="text-xs-right">
        <%= f.button :submit, "Create ticket", class: "btn btn-primary", data: {'requires-valid-form': true} %>
      </div>
    </div>
  </div>  
  <% end %>

<% end %>

<p>Creating a new ticket should leave the user on the ticket view page: ie, the "comment on this ticket" view</p>