<div class="ticket-title">
  <h1 class="pull-right ">#<%= @ticket.scoped_id %></h1>
  <h3><%= @ticket.title %>&nbsp;<small><%= @ticket.parent %></small></h3>
</div>

<!-- render older comments if there are any -->
<% if @ticket.comments.count > 5  %>
<div class="older_comments" style="display:none;">
  <%= render :partial => '/comments/comment', :collection => @ticket.comments[0..-6] %>
</div>
<div class="show-hide-toggle">
  <%= link_to '#', :class => 'hide_older', :style=>"display:none;" do %>
    hide older comments <i class='icon-chevron-up'></i>
  <% end %>
  <%= link_to '#', :class => 'show_older' do %>
    show older comments <i class='icon-chevron-down'></i>
  <% end %>
</div>
<% end %>

<!-- render last 5 comments comments -->
<%= render :partial => '/comments/comment', :collection => @ticket.comments.last(5) %>
<% unless current_membership.restricted? %>
  <%= render :partial => '/comments/form' %>
<% end %>
