<div class="well">
  <h1 class="pull-right">#<%= @ticket.id %></h1>
  <h3><%= @ticket.title %></h3>
  <h4><%= @ticket.parent %></h4>
</div>

<%= render :partial => '/comments/comment', :collection => @ticket.comments %>

<%= render :partial => '/comments/form' %>

