<div class="well">
  <h3><%= @ticket.title %></h3>
  <h4><%= @ticket.parent %></h4>

  <div id="git-hint">
    <%= link_to "View Git flow commands"%>
  </div>
  <div id='git-commands' style="display: none">
    <h5>Git Flow commands:</h5>
    git flow feature start <%= @ticket.sanitized_title %> </br>
    git push --set-upstream feature/<%= @ticket.sanitized_title %>
  </div>
</div>

<%= render :partial => '/comments/comment', :collection => @ticket.comments %>

<%= render :partial => '/comments/form' %>

<%= javascript_tag do %>
$("#git-hint").click(function(e){
  e.preventDefault();
  var anchor = $("#git-hint").children().first("a");

  $("#git-commands").toggle();
    if ( 'View Git flow commands' == anchor.html() )
    {
      anchor.html("Hide Git flow commands");
    }
    else
    {
      anchor.html("View Git flow commands");
    }
});
<%end %>
