<div class="ticket-title">
  <h1 class="pull-right ">#<%= @ticket.scoped_id %></h1>
  <h3><%= @ticket.title %>&nbsp;<small><%= @ticket.parent %></small></h3>
</div>

<!-- render older comments -->
<div class="hidden" style="display:none;">
  <%= render :partial => '/comments/comment', :collection => @ticket.comments[0..-6] %>
</div>
<div class="show-hide-toggle">
  <%= link_to '#', :class => 'hidden', :style=>"display:none;" do %>
    hide older comments <i class='icon-chevron-up'></i>
  <% end %>
  <%= link_to '#', :class => 'shown' do %>
    show older comments <i class='icon-chevron-down'></i>
  <% end %>
</div>


<!-- render last 5 comments comments -->
<%= render :partial => '/comments/comment', :collection => @ticket.comments.last(5) %>

<%= render :partial => '/comments/form' %>
