<%= cache([@ticket.cache_key, 'show']) do %>
  <div class="ticket-title">
    <h1 class="pull-right ">#<%= @ticket.scoped_id %></h1>
    <h3><%= @ticket.title %>&nbsp;<small><%= @ticket.parent %></small></h3>
  </div>

  <div class="ticket-statusbar">
    <ul class="inline">
      <li><small>state: <b><%= @ticket.status %></b></small></li>
      <% if @ticket.feature %>
      <li><small>feature: <b><%= @ticket.feature || 'none' %></b></small></li>
      <% end %>
      <% if @ticket.sprint %>
      <li><small>sprint: <b><%= @ticket.sprint || 'none' %></b></small></li>
      <% end %>
      <% if @ticket.assignee %>
      <li><small>
        assigned to:
        <% if @ticket.assignee
          assigned_to = @ticket.project.public? ? @ticket.assignee.obfuscated : @ticket.assignee
        %>
          <% if @ticket.assignee.memberships.to_project(@ticket.project_id).any? %>
            <b><%= assigned_to %></b>
          <% else %>
            <span class='non-member' title='not a member'> <%= assigned_to %></span>
          <% end %>
        <% else %>
          <b>none</b>
        <% end %>
        </small>
      </li>
      <% end %>
      <% if @ticket.cost %>
      <li><small>cost: <b><%= cost_long(@ticket.cost) %></b></small></li>
      <% end %>
      <% if @ticket.assets.any? %>
      <li><small>attachments: <b><%= @ticket.assets.count %> files</b></small></li>
      <% end %>
    </ul>
  </div>

  <%= render :partial => '/comments/comment', :collection => [@ticket.comments.first] %>

  <!-- render older comments if there are any -->
  <% if hide_comments? && (@ticket.comments.count > 6)  %>
    <div class="older_comments" style="display:none;">
      <%= render :partial => '/comments/comment', :collection => @ticket.comments[1..-6] %>
    </div>
    <div class="show-hide-toggle alert alert-info">
      <%= link_to '#', :class => 'hide_older', :style=>"display:none;" do %>
        hide <%= @ticket.comments.count - 6 %> older comments <i class='icon-chevron-up'></i>
      <% end %>
      <%= link_to '#', :class => 'show_older' do %>
        show <%= @ticket.comments.count - 6 %> older comments <i class='icon-chevron-down'></i>
      <% end %>
    </div>
    <%= render :partial => '/comments/comment', :collection => @ticket.comments[-5..-1] %>
  <% else %>
    <%= render :partial => '/comments/comment', :collection => @ticket.comments[1..-1] %>
  <% end %>


  <% if current_membership && !current_membership.restricted? %>
    <%= render :partial => '/comments/form' %>
  <% end %>
<% end %>
