<h3>Access control</h3>

<%= simple_nested_form_for(@project, :url => project_access_path(@project), :method => :put, :html => {:class=>'form-horizontal'}) do |f| %>
  <%= f.association :participants, :as => :check_boxes, :collection=>@project.ordered_participants %>
  <%= f.simple_fields_for :participants, [] do |p_form| %>
    <%= p_form.input :email %>
    <%= p_form.link_to_remove "Remove this invitation", :class => 'icon-trash' %>
  <% end %>
  <%= f.input :participants, :label => false do %>
    <%= f.link_to_add "Invite a user", :participants, :class => 'btn btn-success' %>
  <% end %>

  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= link_to 'cancel', project_path(@project), :class => 'btn' %>
  </div>
<% end %>
