<h3>Access control</h3>

<%= simple_nested_form_for(@project, :url => project_access_path(@project), :method => :put, :html => {:class=>'form-horizontal'}) do |f| %>

  <!-- memberships -->
  <%= f.simple_fields_for :memberships do |m_form| %>
  <%
     membership = m_form.object
     project_owner = membership.user_id == membership.project.user_id
  %>
  <div class="row">
    <div class="span6">
      <%= m_form.input :id, :as => :boolean, :label => membership.user.email, :wrapper => :inline_checkbox, :disabled => project_owner  %>
    </div>
    <div class="span6">
      <%= m_form.input :role, :collection => Membership::ROLE_NAMES, :disabled => project_owner %>
    </div>
  </div>
  <% end %>

  <input name="project[membership_ids][]" type="hidden" value="">

  <!-- invite -->
  <%= f.simple_fields_for :memberships, [] do |m_form| %>
    <div class="well top-padding">
      <%= m_form.simple_fields_for :user do |u_form| %>
        <%= u_form.input :email %>
      <% end %>

      <div class="control-group">
        <label class="control-label">Invite as</label>
        <div class="controls">
          <%= m_form.select :role, options_for_select(Membership::ROLE_NAMES) %>
        </div>
      </div>

      <%= m_form.input ' ' do %>
        <%= m_form.link_to_remove "remove", :class => 'btn btn-warning', :title => 'Remove this invitation'  %>
      <% end %>
    </div>
  <% end %>

  <%= f.link_to_add "Invite a user", :memberships, :class => 'btn btn-success offset2' %>

  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= link_to 'cancel', project_path(@project), :class => 'btn' %>
  </div>
<% end %>
