<ul class="nav nav-pills nav-stacked">
  <% if action_name != 'index' %>
    <li>
      <%= link_to projects_path do %>
        <span class="navico"><i class="icon-arrow-left"></i></span>back to projects
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'show' %>
    <li>
      <%= link_to edit_project_path(@project) do %>
        <span class="navico"><i class="icon-edit"></i></span>edit this project
      <% end %>
    </li>
    <li>
      <%= link_to project_path(@project), :method => :delete, :data => {:confirm => "Are you sure you want to delete this project?"} do %>
        <span class="navico"><i class="icon-trash"></i></span>remove this project
      <% end %>
    </li>
    <li>
      <%= link_to new_project_feature_path(@project) do %>
        <span class="navico"><i class="icon-edit"></i></span>add a new feature
      <% end %>
    </li>
    <li>
      <%= link_to new_project_sprint_path(@project) do %>
        <span class="navico"><i class="icon-edit"></i></span>add a new sprint
      <% end %>
    </li>
    <li>
      <%= link_to new_ticket_path(:project_id => @project) do %>
        <span class="navico"><i class="icon-edit"></i></span> add a new ticket
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'index' %>
    <li>
      <%= link_to new_project_path do %>
        <span class="navico"><i class="icon-edit"></i></span>add a new project
      <% end %>
    </li>
  <% end %>
</ul>

<div>
    <ul id="side-nav">
    <% if action_name != 'index' %>
        <li>
          <span class="navlink">

            <%= link_to 'back to projects', projects_path %></span>
        </li>
        <% end %>
        <% if action_name == 'show' %>
        <li>
          <span class="navlink">
            <span class="navico"><i class="icon-edit"></i></span>
            <%= link_to 'edit this project', edit_project_path(@project) %>
          </span>
        </li>
        <li>
          <span class="navlink">
            <span class="navico"><i class="icon-trash"></i></span>
            <%= link_to 'remove this project', project_path(@project), :method => :delete, :data => {:confirm => "Are you sure you want to delete this project?"} %>
          </span>
        </li>
        <li>
          <span class="navlink">
            <span class="navico"><i class="icon-plus"></i></span>
            <%= link_to 'add a new feature', new_project_feature_path(@project) %>
          </span>
        </li>
        <li>
          <span class="navlink">
            <span class="navico"><i class="icon-plus"></i></span>
            <%= link_to 'add a new sprint', new_project_sprint_path(@project) %>
          </span>
        </li>
        <li>
          <span class="navlink">
            <span class="navico"><i class="icon-plus"></i></span>
            <%= link_to 'add a new ticket', new_ticket_path(:project_id => @project) %>
          </span>
        </li>
        <% end %>
        <% if action_name == 'index' %>
        <li>
          <span class="navlink">
            <span class="navico"><i class="icon-plus"></i></span>
            <%= link_to 'add a new project', new_project_path %>
          </span>
        </li>
        <% end %>
    </ul>
</div>