<ul class="nav nav-stacked">
  <% if action_name != 'index' %>
    <li>
      <%= link_to projects_path do %>
        <span class="navico"><i class="icon-arrow-left navico"></i></span>back to projects
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'show' %>
    <li>
      <%= link_to edit_project_path(@project) do %>
        <span class="navico"><i class="icon-edit"></i></span>edit this project
      <% end %>
    </li>
    <li>
      <%= link_to project_path(@project), :method => :delete, :data => {:confirm => "Are you sure you want to delete this project?"} do %>
        <span class="navico"><i class="icon-trash"></i></span>remove this project
      <% end %>
    </li>
    <li>
      <%= link_to new_project_feature_path(@project) do %>
        <span class="navico"><i class="icon-plus"></i></span>add a new feature
      <% end %>
    </li>
    <li>
      <%= link_to new_project_sprint_path(@project) do %>
        <span class="navico"><i class="icon-plus"></i></span>add a new sprint
      <% end %>
    </li>
    <li>
      <%= link_to new_ticket_path(:project_id => @project) do %>
        <span class="navico"><i class="icon-plus"></i></span> add a new ticket
      <% end %>
    </li>
  <% end %>
  <% if action_name == 'index' %>
    <li>
      <%= link_to new_project_path do %>
        <span class="navico"><i class="icon-plus"></i></span>add a new project
      <% end %>
    </li>
  <% end %>
</ul>