
<%= simple_nested_form_for(@project, :html => {:class=>'form-horizontal'}) do |f| %>
  <%= f.input :title, :input_html => {:class => 'input-xxlarge'}, :placeholder => 'What should your project be called?' %>
  <%= f.input :description, :as => :text, :input_html => {:class => 'input-xxlarge', :rows => 5} ,:placeholder => 'What is your project about?' %>
  <%= f.input :private, :as=>:radio_buttons, :hint => 'You can create as many public projects as you want.' %>
  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= hidden_field_tag :current_tab, 'basic-info' %>
    <%= link_to 'cancel', project_path(@project), :class => 'btn' unless @project.new_record? %>
    <%= link_to 'cancel', root_path(), :class => 'btn' if @project.new_record? %>
  </div>
<% end %>
