<% unless @project.new_record? %>
	<%= simple_nested_form_for(@project, :html => {:class=>'form-horizontal'}) do |f| %>
		<div id='sortable-statuses'>
		    <%= f.simple_fields_for :ticket_statuses do |ts_form| %>
		      <div class="well well-small ui-state-default">
		      	<%= ts_form.input_field :sort_index, :as => "hidden", 'data-sort-index'=> 1 %>
		      	<div class='row-fluid ' >
		      	  <div class='span1 reorder-handle' title='Reorder'><i class="icon-move"></i>&nbsp;<i class='icon-reorder'></i></div>
		      	  <div class='span3'>
	    	    		<%= ts_form.input_field :name, :class => 'input-medium', :placeholder => "Name" %>
	    	    	</div>
		      	  <div class='span2 form-inline'>
			        	<%= ts_form.radio_button :open, true, :class => 'input-small', :disabled => ts_form.object.system_default %>
			        	<%= label_tag :open, "Open", :class => 'input-small' %>
			        </div>
		      	  <div class='span3 form-inline'>
			        	<%= ts_form.radio_button :open, false, :class => 'input-small', :disabled => ts_form.object.system_default %>
			        	<%= label_tag :open, "Closed", :class => 'input-small' %>
		      		</div>
		      	<div class='span3'>
		          <%= ts_form.link_to_remove raw("<i class='icon-trash' ></i>"), :class => 'pull-right', :title => 'Remove this status' unless ts_form.object.system_default%>
		        </div>
		      	<% if ts_form.object.errors.any? %>
		      	  <div class="text-error" ><%= ts_form.object.errors.full_messages.join(", ") %>
		      	  </div>
		      	<% end %>
		      </div>
		    </div>
		  <% end %>
			<%= f.link_to_add "Add a ticket status", :ticket_statuses, :class => 'btn btn-success offset2' %>
	  </div>


	  <div class="form-actions">
	    <%= f.submit :class=>'btn' %>
	    <%= hidden_field_tag :current_tab, 'statuses' %>
	    <%= link_to 'cancel', project_path(@project), :class => 'btn' unless @project.new_record? %>
	    <%= link_to 'cancel', root_path(), :class => 'btn' if @project.new_record? %>
	  </div>
	<% end %>
<% end %>

