<% content_for :form_heading do %>
  <h3>Edit <%= @project %></h3>
<% end %>

<%= render :partial => 'form' %>

<%= render :partial => '/accesses/edit' %>

<%= render :partial => '/projects/keys/edit' %>

<% if can_transfer_project?(@project) %>
  <h3>Transfer</h3>
  <%= simple_form_for(@project, html: {class: 'form-horizontal'}) do |f| %>
    <%= f.association :user, collection: valid_transfer_members(@project), include_blank: 'Select a new owner', label: 'Transfer to a new owner'%>
    <%= f.input :remove_me, as: :boolean, label: 'Remove me', hint: 'Your membership to the project will be revoked. Alternatively you will remain as an admin.'%>
    <div class="form-actions">
      <%= f.submit 'Transfer this project', class: 'btn btn-warning', confirm: 'Are you sure you want to transfer ownerhship of this project?' %>
      <%= link_to 'cancel', project_path(@project), class: 'btn' unless @project.new_record? %>
    </div>
  <% end %>
<% end %>
