<% content_for :form_heading do %>
  <h3>Edit <%= @project %></h3>
<% end %>

<%= render :partial => 'form' %>

<%= render :partial => '/accesses/edit' %>

<%= render :partial => '/projects/keys/edit' %>

<% if can_transfer_project?(@project) %>
  <h3>Transfer to a new owner</h3>
  <%= simple_form_for(@project, html: {class: 'form-horizontal'}) do |f| %>
    <%= f.association :user, collection: valid_transfer_members(@project), include_blank: 'Select a new owner', label: 'Transfer to a new owner'%>
    <%= f.input :remove_me, as: :boolean, label: 'Remove me', hint: 'Your membership to the project will be revoked. Alternatively you will remain as an admin.'%>
    <div class="form-actions">
      <%= f.submit 'Transfer this project', class: 'btn btn-warning', confirm: 'Are you sure you want to transfer ownerhship of this project?' %>
      <%= link_to 'cancel', project_path(@project), class: 'btn' unless @project.new_record? %>
    </div>
  <% end %>
<% end %>

<% if can_delete_project?(@project) %>
  <h3>Delete this project</h3>
  <%= simple_form_for(@project, html: {class: 'form-horizontal'}) do |f| %>
    <p class="text-warning">
      Since you are the owner of this project, you are allowed to delete it.
      <br><br>
      This is irreversible. Deleting a project will delete all the tickets and related information about the project.
    </p>
    <div class="form-actions">
      <%= link_to "Yes, I understand. Delete '#{@project}' project anyway.", project_path(@project), :method => 'delete', confirm: "Are you sure you want to permanently delete this project, along with all of it's tickets?", class: 'btn btn-danger' %>
    </div>
  <% end %>

<% end %>
