<h3>Public projects</h3>

<table class="table table-bordered table-striped" id="public-project-list">
  <caption>
    Create public projects on any plan, for free.
  </caption>
  <!--title row -->
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th class="width-20">Participate</th>
      <th>Contributors</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.title, project_path(project) %></td>
      <td><%= project.description %></td>
      <td>
        <% if can? :manage, project %>
          <span class="text-success">Already collaborating!</span>
        <% else %>
          <%= link_to 'Request an invite', invite_path(project), :class => 'btn btn-small btn' %>
        <% end %>
      </td>
      <td>
        <%= project.memberships.count %>
      </td>
      <td>
        <% projectTickets = project.tickets.count %>
        <% if projectTickets != 0 %>
          <%= project.tickets.last.updated_at.strftime('%FT') %>
        <% else %>
          Not Updated Yet
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



