<%= yield :form_heading %>

<%= simple_form_for([@asset.project,@asset], :html => {:class=>'form-horizontal', :multipart => true}) do |f| %>

  <div class="attach-asset">
    <%= f.link_to_add "Attach a file", :assets %>
    <%= f.simple_fields_for :assets, [] do |a_f| %>
      <%= a_f.file_field :payload, :multiple => true, :name => "files[]" %> <%= a_f.link_to_remove do %><i class="icon-trash"></i><% end %>
    <% end %>
  </div>


  <%= f.input :title, :input_html => {:class => 'span6'} %>
  <%= f.input :description, :as => :text, :input_html => {:class => 'span6', :rows => 5}%>
  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= link_to 'cancel', project_feature_path(@project, @asset), :class => 'btn' unless @asset.new_record? %>
    <%= link_to 'cancel', project_path(@project), :class => 'btn' if @asset.new_record? %>
  </div>
<% end %>
