<p>
  <strong><%= @user.full_name %></strong> (<%= @user.email %>) has requested
  access to <strong><%= @project.title %></strong>.
</p>

<p>
  To update <strong><%= @project.title %></strong> membership, visit the
  <%= link_to "project properties page", edit_project_url(@project) %>
  and add <tt><%= @user.email %></tt> to the list of memberships.
  <strong><%= @user.full_name %></strong> will automatically be informed via email.
</p>

