<table class="table table-bordered table-striped">
  <caption>
    <h4>Assets</h4>
  </caption>
  <tr>
    <th class="width-5">#</th>
    <th>Filename</th>
    <th class="width-15">Size</th>
    <th class="width-15">Uploaded</th>
    <th class="width-15">Download</th>
  </tr>
  <% assets.each do |asset| %>
  <tr>
    <td><%= asset.scoped_id %></td>
    <td class="overflow" title="<%= asset.name %>"><%= link_to asset.name, project_asset_path(asset.project, asset) %></td>
    <td><%= number_to_human_size(asset.payload.file.size) rescue 'unknown' %></td>
    <td ><%= asset.created_at.to_s(:short) %></td>
    <td><%= link_to "download", project_download_asset_path(@project, asset) %> </td>
  </tr>
  <% end %>
  <% if assets.count == 0 %>
  <tr>
    <td colspan="4">There are no assets</td>
  </tr>
  <% end %>
</table>
