<h3>Edit <%= @asset %></h3>

<%= simple_form_for([@asset.project,@asset], :html => {:class=>'form-horizontal'}) do |f| %>
    <%
      link_name = @asset.image? ? image_tag(@asset.payload_url(:thumb), class: 'img-polaroid img-padded') : raw("<br> #{@asset.name}")
    %>

  <dl class="offset2">
    <dt>Filename</dt><dd><%= @asset.name %></dd>
    <dt>File Size</dt><dd><%= number_to_human_size(@asset.payload.file.size) rescue 'unknown' %></dd>
    <dt>Uploaded at</dt><dd><%= @asset.created_at.to_s(:long) %></dd>
    <dt>Preview</dt><dd>
      <%= link_to link_name, project_download_asset_path(@asset.project, @asset), :title => (number_to_human_size(@asset.payload.file.size) rescue 'unknown') %>
    </dd>
  </dl>

  <% if can? :manage, @project %>
    <%= f.input :sprint do %>
      <%= f.select :sprint_id, @asset.project.sprints.all.select(&:open?).map { |s| [s.goal, s.id] }, :include_blank => '- unassigned -'  %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit :class=>'btn' %>
    <%= link_to 'cancel', project_path(@project, :tab => 'assets'), :class => 'btn'%>
  </div>
<% end %>
