<table class="table table-bordered table-striped">
  <caption>
    <h2>Features</h2>
  </caption>
  <tr>
    <th class="width-5">#</th>
    <th>Title</th>
    <th class="width-25">Progress</th>
    <th class="width-50px">Tickets</th>
  </tr>
  <% features.each do |feature| %>
  <tr>
    <td><%= feature.scoped_id %></td>
    <td class="overflow" title="<%= feature.title %>"><%= link_to feature.title, project_feature_path(feature.project, feature) %></td>
    <td>
      <div class="progress-count">
        <%= completion_str(feature) %>
      </div>
      <div class="progress" title="<%= completion_message(feature) %>">
        <div class="bar bar-<%= completion_state(feature) %> " style="width: <%= feature.progess_count %>%;"></div>
      </div>
    </td>
    <td class="span1 count" title="tickets in this feature"><span class="badge badge-info"><%= feature.ticket_count %></span></td>
  </tr>
  <% end %>
  <% if features.count == 0 %>
  <tr>
    <td colspan="3">There are no features</td>
  </tr>
  <% end %>
</table>
