<table class="table table-bordered table-striped">
  <caption>
    <h2>Features</h2>
  </caption>
  <tr>
    <th style="width:5%;">#</th>
    <th style="width:65%;">Title</th>
    <th style="width:25%;">Progress</th>
    <th style="width:5%;">Tickets</th>
  </tr>
  <% features.each do |feature| %>
  <tr>
    <td><%= feature.id %></td>
    <td><%= link_to feature.title, project_feature_path(feature.project, feature) %></td>
    <%
      closed=feature.closed_tickets.count
      total=feature.assigned_tickets.count
    %>
      <td>
        <div class="progress-count">
          <%= completion_str(feature) %>
        </div>
        <div class="progress" title="<%= completion_message(feature) %>">
          <div class="bar bar-<%= completion_state(feature) %> " style="width: <%= completion_percentage(feature) %>%;"></div>
        </div>
      </td>
    <td class="count" title="tickets in this feature"><span class="badge badge-info"><%= feature.assigned_tickets.count %></span></td>
  </tr>
  <% end %>
  <% if features.count == 0 %>
  <tr>
    <td colspan="3">There are no features</td>
  </tr>
  <% end %>
</table>
