<table class="table table-bordered table-striped">
  <caption>
    <h2>Features</h2>
  </caption>
  <tr>
    <th class="span1">#</th>
    <th>Title</th>
    <th class="span2">Progress</th>
    <th class="span1">Tickets</th>
  </tr>
  <% features.each do |feature| %>
  <tr>
    <td><%= feature.id %></td>
    <td><%= link_to feature.title, project_feature_path(feature.project, feature) %></td>
    <%
      closed=feature.closed_tickets.count
      total=feature.assigned_tickets.count
    %>
    <td><meter min="0" max="<%= total %>" value="<%= closed %>" title="<%= feature.completion_message %>" low="<%= total/2 %>" high="<%= total+1 %>"><%= (feature.completion_percentage*100).round(0) %>%</meter></td>
    <td class="span1 count" title="tickets in this feature"><span class="badge badge-info"><%= feature.assigned_tickets.count %></span></td>
  </tr>
  <% end %>
  <% if features.count == 0 %>
  <tr>
    <td colspan="3">There are no features</td>
  </tr>
  <% end %>
</table>
