<%
  project_id ||= @project && @project.id
  sprint_id ||= @sprint && @sprint.to_param

  parent = "sprint-#{sprint_id}" if sprint_id
  parent ||= "project-#{project_id}" if project_id
 %>

 <div id="tickets-list-container-<%= parent %>" <%if params[:hide_empty_tickets] && @tickets.empty? %> data-hide-empty-tickets  style="display:none;" <% end %> >
  <table class="table table-bordered table-striped" id="ticket-list">
    <caption>
      <div class="pull-right">
        <% if @show_search %>
          <%= simple_form_for('search', :url => project_tickets_path(@project), :html => {:method => :get, :class => 'form-search'}, :remote => true) do |f| %>
            <% # this field can be any valid ransack term as it gets  %>
            <% # overwritten in the backend based on seach type       %>
            <%= f.input_field :query, :label => false, :placeholder => 'search', value: @query %>

            <%= f.hidden_field :sprint_id, :value => sprint_id %>
            <%= f.hidden_field :project_id, :value => project_id %>
            <%= f.submit 'Search' %>
          <% end %>
        <% end %>
      </div>
      <h4>
        <% if @title.present? && (@title != 'Tickets') %>
          <%= link_to @title, project_path(@project, :params => {:query => (@overview.filter rescue nil)}) %>
        <% else %>
          Tickets
        <% end %>
      </h4>

    </caption>
    <!--title row -->
    <thead>
    <tr>
      <th class="width-5">#</th>
      <th>Title</th>
      <th class="width-15">Sprint</th>
      <th class="width-20">Assignee</th>
      <th class="width-10">State</th>
      <th class="width-30px">Cost</th>
    </tr>
    </thead>
    <tbody>
    <% @tickets.each do |ticket| %>
      <%= cache(ticket) do %>
        <tr data-state="<%= ticket.status %>" data-search="<%= ticket.filter_summary %>">
          <td><%= ticket.scoped_id %></td>
          <td class="overflow" title="<%= ticket.title %>">
            <%= link_to ticket.title, project_ticket_path(ticket.project, ticket) %>
            <div class="overflow taglist" title="<%= ticket.tag_list %>">
              <% ticket.tag_list.each do |tag| %>
                <%= ticket_load_link raw(content_tag(:span, tag, :class => "label label-default")), {:query => "tag:#{tag} #{@overview && @overview.filter}"} %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="overflow" title="<%= ticket.sprint %>">
              <%= link_to ticket.sprint, project_sprint_path(ticket.project, ticket.sprint) if ticket.sprint %>
            </div>
          </td>
          <td>
            <div class="overflow" title="<%= assignee(ticket) %>">
              <% if ticket.assignee && ticket.assignee.memberships.to_project(ticket.project.id).any? %>
                <%= assignee(ticket) %>
              <% else %>
                <span class='non-member' title="<%= assignee(ticket) %> (not a member)">
                  <%= assignee(ticket) %>
                </span>
              <% end %>
            </div>
          </td>
          <td>
            <div class="overflow" title="<%= ticket.status %>">
              <%= ticket.status %>
            </div>
          </td>
          <td class="count" title="cost of this ticket"><span class="badge badge-warning"><%= cost_short(ticket.cost) %></span></td>
        </tr>
      <% end %>
    <% end if @tickets %>
    <% if @tickets && @tickets_count == 0 %>
      <tr>
        <td colspan="6">There are no tickets</td>
      </tr>
    <% end %>
    <% unless @tickets %>
      <tr>
        <td colspan="6">
            <%= ticket_load_link 'loading tickets...', {}, {:class => "autoload"} %>
        </td>
      </tr>
    <% end %>
    <% if @tickets_count %>
      <tr>
        <td colspan="6">
          <span class="pull-right ticket-result-summary">
          <% if @assignees_count > 0 %>
            <%= @assignees_count %> assignees on
          <% else %>
            no assigned tickets
          <% end %>
          <% if @tickets_count %>
            <%= @tickets_count %> tickets
          <% end %>
          <% if @tickets_cost > 0 %>
            @ total cost <%= @tickets_cost %></span>
          <% else %>
            @ unknown cost
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if @tickets && @tickets.respond_to?(:total_pages) && (@tickets.total_pages > 1) %>
    <%= paginate @tickets,
        :params => {
          :controller => 'tickets',
          :action => 'index',
        }.merge(ticket_url_params),
        :remote => true if @tickets %>
  <% end %>
</div>
