<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">
				Conductor
			</a>
			<% if user_signed_in? %>
			<ul class="nav">
				<li>
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<%= link_to "My Projects", projects_path() %>
				</li>
				<li>
					<%= link_to "My Tickets", tickets_path() %>
				</li>
				<% if @project && !@project.new_record? && can?(:manage, @project) %>
				<li>
					<%= link_to "Access", edit_project_access_path(@project) %>
				</li>
				<% end %>
			</ul>

			<div class="dropdown pull-right">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				   <%= gravatar_for @current_user %>
				  <%= current_user.email%>
				  <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
				  <li>
				    <%= link_to destroy_user_session_path, :method => :delete do%>
				      logout
				    <% end %>
				  </li>
				</ul>
      </div>
			<% end %>
		</div>
	</div>
</div>