<% content_for :heading do %>
  <h3><%= @project.name %></h3>
<% end %>

<!-- Nav tabs -->
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <li class="nav-item text-xs-center">
      <a class="nav-link" data-toggle="tab" href="#boards_tab" role="tab" title="Boards"><%= fa_icon "table" %>boards</a>
    </li>
    <li class="nav-item text-xs-center">
      <a class="nav-link" data-toggle="tab" href="#tickets_tab" role="tab" title="Tickets"><%= fa_icon "check-square" %>tickets</a>
    </li>
    <li class="nav-item text-xs-center">
      <a class="nav-link" data-toggle="tab" href="#documents_tab" role="tab" title="Documents"><%= fa_icon "paperclip" %>documents</a>
    </li>
    <li class="nav-item text-xs-center">
      <a class="nav-link" data-toggle="tab" href="#settings_tab" role="tab" title="Settings"><%= fa_icon "gear" %>settings</a>
    </li>
  </ul>
  <% if @project.logo.present? %>
    <%= image_tag @project.logo_url(:thumb) %>
  <% end %>
</div>
