<!DOCTYPE html>
<html>
  <head>
    <title>Conductor</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#topNavbar">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="topNavbar">
        <a class="navbar-brand" href="#">Conductor</a>
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <%= @project.name rescue "Projects" %>
              </a>
              <div class="dropdown-menu">
                <% current_user.projects.order(name: :asc).each do |project| %>
                  <%= link_to project.name, project_path(project), class: "dropdown-item" %>
                <% end %>
                <% if current_user.projects.any? %>
                  <div class="dropdown-divider"></div>
                <% end %>
                <%= link_to "New project", projects_path(), method: 'POST', class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <%= (@overview.present? && @overview.persisted? && @overview.name) || "Overviews" %>
              </a>
              <div class="dropdown-menu">
                <% current_user.overviews.order(name: :asc).each do |overview| %>
                  <%= link_to overview.name, overview_path(overview), class: "dropdown-item" %>
                <% end %>
                <% if current_user.overviews.any? %>
                  <div class="dropdown-divider"></div>
                <% end %>
                <%= link_to "New overview", new_overview_path(), class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown pull-xs-right">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="<%= edit_user_path(current_user) %>"><%= fa_icon "gear" %>Settings</a>
                <div class="dropdown-divider"></div>
                <%= link_to raw(fa_icon("sign-out") + "Logout"), destroy_user_session_path(), method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item hidden-md-down pull-xs-right space-left">
              <%= link_to "Register", new_user_registration_path(), class: "nav-link" %>
            </li>
            <li class="nav-item hidden-md-down pull-xs-right">
              <%= link_to "Login", new_user_session_path(), class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id="flasher" >
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissable fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= value %>
        </div>
      <% end %>
      <% flash.clear %>
    </div>

    <div class="container-fluid">
      <% if @project.present? %>
        <%= render :partial => "/layouts/project" %>
      <% elsif @overview.present? %>
        <%= render :partial => "/layouts/overview" %>
      <% elsif @user.present? %>
        <%= render :partial => "/layouts/user" %>
      <% end %>
    </div>

    <nav class="navbar navbar-fixed-bottom navbar-full navbar-light bg-faded" id="footerNavbar">
      <% if  "welcome" == controller_name%>
      <div class="row">
        <div class="col-sm-3">
          <h4>About Us</h4>
          Conductor is maintained by an enthusiastic team. We use Conductor to manage Conductor. You can find us at <%= link_to 'Shuntyard Technologies', 'http://www.shuntyard.co.za' %>.
        </div>
        <div class="col-sm-3">
          <h4>Terms and Conditions</h4>
          Conductor is a subscription based service to manage project delivery. By using Conductor, you agree to our <%= link_to 'terms and conditions', welcome_terms_and_conditions_path() %>.
        </div>
        <div class="col-sm-3">
          <h4>Pricing</h4>
          We offer a range of plans that will suit your needs. Public projects are free. Read more about our <%= link_to 'pricing options', welcome_pricing_path() %>.
        </div>
        <div class="col-sm-3">
          <h4>Contact Us</h4>
          If you have any questions or comments, please contact us on <a href="callto:+27218519374">+27 21 851 9374</a> or email us at <%= mail_to 'info@conductor-app.com' %>.
        </div>
      </div>
      <% end %>
      <p class="copyright">Copyright &copy; <%= Date.today.year -%> <%= link_to 'Shuntyard Technologies', 'http://www.shuntyard.co.za' %>. All Rights Reserved.</p>
    </nav>
  </body>
</html>

