<h3>Update Your Account Details</h3>
<%= simple_nested_form_for([@account.user, @account]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs pull-left">
    <ul>
      <% Plan::PLANS.each do |name, detail| %>
        <li>
          <div>
            <%=  name.to_s.humanize %>           
          </div>
          <div class='pull-right'>
            <%= detail[:title] %><br />
            <%= "$ #{detail[:price]} pm <br />".html_safe unless detail[:price] == 0 %>
            <%= detail[:users] %> Users<br />
            <%= detail[:projects] %> Projects<br />
            <%= detail[:storage_gb] %>gb Storage<br />
          </div>
          <h1>
            <%= link_to link_text(@account, Plan.new(name)), '#', :class => 'btn', :disabled => disabled?(name) %>
          </h1>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="clearfix"></div>

  <div class="form-actions">
    <%= link_to 'Cancel', root_path(), :class => 'btn' %>
  </div>
<% end %>

