<h3>
  Update Your Account
  <small> currently <%= @account.current_plan[:title] %> </small>
</h3>

<%= simple_form_for 'https://virtual.mygateglobal.com/PaymentPage.cfm', :name => 'Conductor App Payment', :method => :post do %>
  <%= hidden_field_tag "Mode", (Rails.env.production? ? 1 : 0) %>

  <%= hidden_field_tag "MerchantID", Rails.configuration.mygate_application_id %>
  <%= hidden_field_tag "ApplicationID", Rails.configuration.mygate_application_id %>

  <div class="row-fluid marketing">
    <div class="tab-pane">
      <div class="price-table price-table-three">
        <% plans = Plan::PLANS.reject{|k,v| k.to_s == @account.plan} %>
        <div class="price-column  price-column-first">
          <%= render partial: 'plan', object: Plan.new(plans.keys[0]) %>
        </div>
        <div class="price-column  price-column-featured">
          <%= render partial: 'plan', object: Plan.new(plans.keys[1]) %>
        </div>
        <div class="price-column  price-column-last">
          <%= render partial: 'plan', object: Plan.new(plans.keys[2]) %>
        </div>
      </div>
    </div>
  </div>

  <%= hidden_field_tag "Currency", "ZAR" %>

  <!---The result pages (Where MyGate returns the card holder to after the transaction)--->
  <%= hidden_field_tag "RedirectSuccessfulURL", "http://localhost:3000/successfullurl" %>
  <%= hidden_field_tag "RedirectFailedURL", "http://localhost:3000/failureurl" %>

  <%= submit_tag "Process Transaction" %>

<% end %>
