<h3>
  Update Your Account
  <small> currently <%= @account.current_plan[:title] %> </small>
</h3>

<%= form_tag "https://www.paypal.com/cgi-bin/webscr", :name => 'Conductor Secure Payment', :method => :post do %>
  <%= hidden_field_tag "cmd", "_s-xclick" %>
  <%= hidden_field_tag "hosted_button_id", "STE5347YGNW2W" %>
  <%= hidden_field_tag "currency_code", "USD" %>
  <%= hidden_field_tag "on0", "Plans" %>
  <%= hidden_field_tag "os0", @account.current_plan[:paypal] %>

  <div class="row-fluid marketing">
    <div class="tab-pane">
      <div class="price-table price-table-three">
        <% plans = Plan::PLANS.reject{|k,v| k.to_s == @account.plan} %>
        <div class="price-column  price-column-first">
          <%= render partial: 'plan', object: Plan.new(plans.keys[0]) %>
        </div>
        <div class="price-column  price-column-last">
          <%= render partial: 'plan', object: Plan.new(plans.keys[1]) %>
        </div>
        <div class="price-column  price-column-last">
          <%= render partial: 'plan', object: Plan.new(plans.keys[2]) %>
        </div>
      </div>
    </div>
  </div>

  <% if false %>
  <!-- keep this around, we might want to change the look to be more obviously paypal -->
  <div class="row-fluid pagination-centered">
    <br>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </div>
  <% else %>
  <div class="row-fluid pagination-centered">
    <br>
    <%= submit_tag "Update Subscription", :class => "btn btn-info btn-large", :id => 'account_change' %>
  </div>
  <% end %>
<% end %>

